<%- include('partials/header', { title: 'Contact Us' }) %>

<section class="card">
  <h2>Contact Us</h2>
  <p>Anjani Deepa Enterprises</p>
  <p>Plot No 4, Sri Shiva Sairam Nagar Colony, Beeramguda</p>
  <p>Ameenpur, Sangareddy, Telangana, 502032, India</p>
  <p>Email: anjanideepaenterprises1@gmail.com</p>
  <p>Phone: +91 8977526688</p>
</section>

<%- include('partials/footer') %>
